.nadpis-main {
     text-align: center;
}

.nadpis-ffmpeg {
    text-align: center;
}

.ffmpeg-end {
    text-align: center;
}

.warning {
    color:red;
    text-align: center;
}


h3 {
    color: red;
    text-align: center;
}

h4 {
    text-align: center;
}

.nadpis-linux {
    text-align: center;
}

.linux-prikazy-nadpis {
    text-align: center;
}

.linux-varovani {
    text-align: center;
}

.linux-prikazy {
    text-align: center;
}